@font-face {
    font-family: lato;
    src: url (font/Lato-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: lato;
    src: url (font/Lato-Regular.ttf);
    font-weight: 400;
}
.button {
    background-color: #1bbc9b;
    font-family: lato;
    font-weight: 700;
    font-size: 13px;
    border: none;
    color: #fff;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-top: 20px;
}
body {
    text-align: center;
}
.margin {
    margin: 50px;
}
h2{
    font-family: lato;
    font-weight: 400;
    font-size: 28px;
}
p {
    font-family: lato;
    font-weight: 400;
    font-size: 16px;
}
button:hover {
    background: #16a086;
}
img:hover {
    
}
.section2{
    background-color: #16a086;
    height: 645px;
}
.box-avatar{
    background-color: #fff;
    width: 220px;
    height: 417px;
}
.img1 {
    width: 170px;
    height: 170px;
    text-align: center;
}
.img2 {
    width: 220px;
    height: 228px;
}
.name {
    font-family: lato;
    font-weight: 400;
    font-size: 18px;
    padding-top: 15px;
}
.title {
    color: #fff;
    font-family: lato;
    font-weight: 400;
    font-size: 28px;
    margin-top: 50px;
}
.title1 {
    color: #fff;
    font-family: lato;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 50px;
}
.box-avatar p {
    margin: 0;
}
.box-circle {
    position: relative;
}
.box-circle .mask {
    background-color: rgba(22,160,134,0.75); 
    border-radius: 50%;
    color: #fff;
    display: none;
    left: 50%;
    margin-left: -85px;
    height: 170px;
    position: absolute;
    top: 0;
    width: 170px;
}
.box-circle .mask img {
    margin-top: 20px;
}
.box-circle:hover .mask {
    display: block;
    cursor: pointer;
}
.work {
    font-family: lato;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    padding-bottom: 15px;
}
.cv {
    font-family: lato;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
}
.box-rectangle {
    position: relative;
}
.box-rectangle .mask1 {
    background-color: rgba(22,160,134,0.80);
    display: none;
    height: 48px;
    left: 50%;
    margin-left: -90px;
    margin-top: 95px;
    position: absolute;
    width: 180px;   
}
.box-rectangle .mask1 img {
    text-align: center;
}
.box-rectangle:hover .mask1 {
    display: block;
    cursor: pointer;
}.section3 {
    background-color: #ecf0f1;
    height: 498px;
}